package pages

import (
	"github.com/ruskiiamov/school/internal/view"
	"github.com/ruskiiamov/school/internal/view/components"
	"github.com/ruskiiamov/school/internal/view/layout"
)

templ Diary(page view.DiaryPage) {
	@layout.App(page.Shell) {
		<div class="flex flex-col gap-4 lg:gap-6">
			@components.PageHeader("Дневник")
			<div class={ components.CardClass }>
				@components.EmptyState("Уроков в этот день нет")
			</div>
		</div>
	}
}
