package layout

import "github.com/ruskiiamov/school/internal/view/static"

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="ru" class="h-full">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="theme-color" content="#4f46e5"/>
			<meta name="htmx-config" content="{&#34;includeIndicatorStyles&#34;:false}"/>
			<title>{ title }</title>
			<link rel="icon" href={ static.URL("favicon.svg") } type="image/svg+xml"/>
			<link rel="stylesheet" href={ static.URL("css/app.css") }/>
			<script src={ static.URL("js/htmx.min.js") } defer></script>
			<script src={ static.URL("js/app.js") } defer></script>
		</head>
		<body class="h-full bg-slate-50 font-sans text-slate-900 antialiased">
			{ children... }
		</body>
	</html>
}
